.search {
  max-width: 400px;
  margin: 0 auto;
  background-color: #d8d8d8;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 100px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.input {
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  outline: transparent;
  width: 100%;

  transition: box-shadow 0.2s ease-in-out;

  &:focus {
    box-shadow: 0px 0px 3px black;
  }
}
