.item {
  width: 100%;
  background-color: #cdcdcd;
  border-radius: 8px;
  padding: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
}

.name {
  text-transform: capitalize;
  margin-bottom: 15px;
}

.btn {
  border: none;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;

  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
}
